GridLayout {
background-image: url("res://background2");
}

Image {
    padding: 5;
}

.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
    }
    
button {
    margin: 5 20;   
    border-radius: 4;
}
.task-label{
    color: chocolates;
    text-align: center;
    vertical-align: center;
}

.task-background {
    background-color: whitesmoke;
    width: 60%;
    height: 30%;
    font-size: 48;
    text-align: center;
    vertical-align: middle;
    color: dimgrey;
}

.answer {
    font-size: 28;
    background-color: darkred;
    height: 36;
}

.answers {
    background-color: black;
    height: 90;
}

.big {
    font-size: 28;
    horizontal-align: center;
    margin: 5;
}

.timer {
    background-color: whitesmoke;
    width: 60%;
    height: 40;
    font-size: 34;
    horizontal-align: center;
    margin: 10 0 30 0;
    color: green;
}

.timerRed {
    background-color: whitesmoke;
    width: 60%;
    height: 40;
    font-size: 34;
    horizontal-align: center;
    margin: 10 0 30 0;
    color: red;
}

.timer_text{
    text-align: center;
    vertical-align: middle;
}

.front_image {
    width: 50%;
    padding: 5;
}

.main_button {
     horizontal-align: center;
     width: 33%;
     background-color: mediumseagreen;
     color: white;
     margin-top: 15;
}