@import { url('~/platform.css') };

Page {
    background-color: #B92731;
    font-size: 14;
}
Label {
    color: whitesmoke;
    horizontal-align: center;
    margin: 5;
}
TextField {
    margin: 10;
    padding: 10;
}
Image {
    padding: 5;
}
ActionBar {
  background-color: #861C23;
  color: whitesmoke;
}

/* Common classes */
.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
    color: lightgray;
}

.button {
  margin: 20;
  margin-bottom: 0;
  font-size: 14;
  width: 40%;
}

.big {
    font-size: 25;
}



/*Splash Page*/
.front_image {
    width: 50%;
    padding: 5;
}

/*Game Page*/
.timer {
    background-color: #5EC259;
    font-size: 25;
    text-align: center;
    margin: 20;
    color: whitesmoke;
    border-radius: 4;
    width: 40%;
    height: 10%;
    padding: 5;
    vertical-align: middle;
}

.red {
    background-color: #EE2934;
}

.question{
  width: 40%;
    background-color: #861C23;
    font-size: 35;
    text-align: center;
    vertical-align: middle;
    color: whitesmoke;
    border-radius: 4;
    border-color: whitesmoke;
    border-width: 2;
    margin: 20;
}

.answers{
  padding: 20;
}

.answer{
  width: 40%;
  margin: 5;
  font-size: 30;
}
/*

.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
    color: lightgray;
    }

.task-label{
    color: whitesmoke;
    text-align: center;
    vertical-align: center;
}

.task-background {
    background-color: darkred;
    width: 60%;
    height: 30%;
    font-size: 48;
    text-align: center;
    vertical-align: middle;
    color: gray;
    border-radius: 4;
    border-color: gray;
    border-width: 5;
}

.big {
    font-size: 28;
    horizontal-align: center;
    margin: 5;
    color: lightgray;
}

.timer {
    background-color: whitesmoke;
    width: 60%;
    height: 40;
    font-size: 34;
    horizontal-align: center;
    margin: 10 0 30 0;
    color: #016C1B;
}

.timerRed {
    background-color: whitesmoke;
    width: 60%;
    height: 40;
    font-size: 34;
    horizontal-align: center;
    margin: 10 0 30 0;
    color: red;
}

.timer_text{
    text-align: center;
    vertical-align: middle;
       border-radius: 4;
}

.front_image {
    width: 50%;
    padding: 5;
}

.opt_button{
     horizontal-align: center;
     width: 40%;
     background-color: gray;
     color: white;
     margin-top: 15;
}

.start_button_ok{
     horizontal-align: center;
     width: 40%;
     background-color: green;
     color: white;
     margin-top: 15;
}

.start_button_nok{
     horizontal-align: center;
     width: 40%;
     background-color: blue;
     color: white;
     margin-top: 15;
}

.main_button {
     horizontal-align: center;
     width: 33%;
     background-color: gray;
     color: white;
     margin-top: 15;
}

.answer-btn {
    font-size: 24;
    color: white;
    background-color: gray;
    height: 25%;
    width: 20%;
}*/
